<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>First Visit with Calws Trimming for Free!</h2>
            <a href="users/sign_up" class="btn btn-default btn-xl wow tada">Register now!</a>
        </div>
    </div>
</aside>
