<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favorite Veterinary Clinic in Wrocław</h1>
            <hr>
            <p>Having a furry companion is about so much more than just sharing your home with an animal. It’s about friendship, camaraderie, loyalty and unconditional love. It’s about putting another creature’s needs before your own; opening your heart and baring your soul.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
