<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-hourglass-half wow bounceIn text-primary"></i>
                    <h3>10 Years Experience</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Trip</h3>
                    <p class="text-muted">We are offering medical & diagnostic services in the comfort of your home.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paw wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>998 Happy Pupils</h3>
                    <p class="text-muted">Dozens happy pupils</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Work with Love</h3>
                    <p class="text-muted">Each one of us has our very own animal family member with whom we share our lives.</p>
                </div>
            </div>
        </div>
    </div>
</section>
