.row
  .col-md-8.col-md-offset-2
    %h1 All Animals
    - @animals.each do |animal|
      %h3
        %span Animal name:
        = link_to animal.name, animal
      %p
        %span Animal type:
        = animal.animal_type.capitalize + " | "
        %span Animal breed:
        = animal.breed
