/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fullcalendar
 *= require bootstrap
 *= require font_awesome
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


.remider h2 {
  margin-top: 2em;
  margin-left: 4em;
}

.cal {
  margin-top: 5em;
}

.mycontainer {
  border-top: 5px solid #e7e7e7;
}

body {
 	font-family: 'Lato', sans-serif;
background: #abbaab; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #abbaab , #ffffff); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #abbaab , #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

 a {
 	color: darken(#e7e7e7, 70%);
 }

 button, .button {
 	border: none;
 	outline: none;
 	background: #D9534F;
 	padding: 1rem 3.5rem;
 	border-radius: 0.1rem;
 	color: #FFF;

 }
 h4 {
   margin-top: 0px;
 }

.event {
	border-bottom: 1px solid #e7e7e7;
	.event-title {
		font-family: 'Lato', sans-serif;
		margin-top: 0;
	}
}
